package.json
package-lock.json
yarn-lock.json

*.json
*.db

.prettierrc
.prettierignore
.eslintrc
tsconfig.json
.gitignore
.aws-sam

*.md
*.yaml
*.yml
*.ps1
*.html

jest.config.js
dist
.aws-sam
.scannerwork
coverage
node_modules